span{
    margin-top: 17px;
    color: red;
    text-align: center;
}
div{
    text-align: center;
}
div .caixa{
    margin-top: 100px;
}

.form-select{
    margin-top: 10px;
    margin-bottom: 20px;
}
h2{
    text-align: center;
}
.sec{
    padding: 40px;
    background: #d3e4fd;
    text-align: center;
}

button{
    margin-top: 10px;
    color: #281010;
    background-color: #0d6efd;
    border-color: #0d6efd;

}

.but{
    margin-top: 12px;
}span{
     margin-top: 17px;
     color: red;
     text-align: center;
 }
div{
    text-align: center;
}
div .caixa{
    margin-top: 100px;
}
p{
    font-size: 20px;
}

.form-select{
    margin-top: 10px;
    margin-bottom: 20px;
}
h2{
    text-align: center;
    margin: 0px;
}
.sec{
    padding: 40px;
    background: #d3e4fd;
    text-align: center;
}

button{
    margin-top: 10px;
    color: #281010;
    background-color: #0d6efd;
    border-color: #0d6efd;

}

.but{
    margin-top: 12px;
}

img .img{
    position: absolute;
    left: 32%;
    top: 30%;
    width: 34%;
}